<div id="exceptions">
  <div class="pages">
    <%=
      url = url(:delete_all)
      remote_link( 'Delete Visible', "$.get('#{url}', ExceptionLogger.deleteAll(), null, 'script')" )
    %>
    <% if @exceptions.number_of_pages > 1 %>
    :: Pages: <strong><%= print_page_links( @exceptions ) %></strong>
    <% end %>
  </div>

  <h1>Exceptions <%= "<span>(filtered)</span>" if filtered? %> </h1>

  <table cellspacing="0">

    <thead style="display:none;">
      <tr>
        <th>Exception</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
    <% @exceptions.page( params[:page] ).each do |exc| -%>
      <tr id="exception-<%= exc.id %>" class="<%= cycle("eor", "") %> exception">
        <td>
          <div class="expclass">

          <%= "#{exc.exception_class} in #{exc.controller_name}/#{exc.action_name}" %>
          <%
            content = '%s in %s' % [ exc.exception_class, exc.controller_name ]
            link    = "jQuery.getScript('#{ url(:mex, exc) }')"
          %>
          <%= remote_link( content, link ) %>

          </div>
          <span class="message"><%=h exc.message %></span>

        </td>
        <td nowrap=nowrap class="time">
          <% 
            if Date.today == exc.created_at.to_date 
              if exc.created_at.to_time > Time.now - 4 * 60 * 60
          %>
              <%= exc.created_at %>
              <%# time_ago_in_words(exc.created_at).gsub(/about /,"~ ") %> ago
            <% else %>
              Today, <%= exc.created_at.strftime("%l:%M %p") %>
            <% end %>
          <% else %>
            <%= exc.created_at.strftime("%b %d, %Y") %>
          <% end %>
        </td>
        <td><%= remote_link 'Delete', "jQuery.getScript('#{url( :delete_mex, exc )}')" , :class => "util" %></td>
      </tr>
    <% end -%>
    </tbody>
  </table>

  <div class="pages pages-bottom">
    Pages: <strong><%= print_page_links( @exceptions ) %></strong>
  </div>
</div> <!-- #exceptions -->