<div class="tools">
  <%= remote_link 'Delete', "jQuery.getScript('#{url( :delete_axe, @exc )}')" , :class => "util" %>
  <span class="pipe">|</span>
  <a class="util" onclick="$('#showpage').slideToggle();this.blur();return false" href="#">Close</a>
</div>

<div class="date">
  <%= @exc.created_at.strftime("%A, %b %d, %Y at %l:%M %p") %>
</div>

<h1>
  <%= '%s in %s/%s' % [@exc.exception_class, @exc.controller_name.to_s.camel_case, @exc.action_name] %>
</h1>

<h2><a href="#" onclick="return ExceptionLogger.toggleSibling(this);">Request URL</a></h2>
<div style="display:none">
  <%= print_hash( @exc.url ) %>
</div>

<h2><a href="#" onclick="return ExceptionLogger.toggleSibling(this);">Environment</a></h2>
<div style="display:none">
  <p>
    <strong>Cookies</strong>
    <%= print_hash( @exc.cookies ) %>
  </p>

  <p>
    <strong>Session</strong>
    <%= print_hash( @exc.session ) %>
  </p>

  <p>
    <strong>Params</strong>
    <%= print_hash( @exc.params ) %>
  </p>

  <p>
    <strong>Request</strong>
    <%= print_hash( @exc.environment ) %>
  </p>
</div>

<h2><a href="#" onclick="return ExceptionLogger.toggleSibling(this);">Backtrace</a></h2>
<div>
  <p class="intro"><%= @exc.message %></p>
  <pre id="backtrace"><%= @exc.backtrace.join("\n") %></pre>
</div>