<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Logged Exceptions</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <%# javascript_include_tag 'prototype','effects' %>
  <!-- <script type="text/javascript" charset="utf-8" src="/javascripts/jquery.js"></script> -->
  <script type="text/javascript">
<%= IO.read(File.join(File.dirname(__FILE__), 'jquery.js')) %>
<%= IO.read(File.join(File.dirname(__FILE__), 'form.js')) %>
  </script>
  <script type="text/javascript">
<%= IO.read(File.join(File.dirname(__FILE__), 'mex.js')) %>
  </script>
  <style type="text/css">
<%= IO.read(File.join(File.dirname(__FILE__), 'style.css')) %>
  </style>
</head>
<body>
<div id="container">


<div id="right">

<h3>Filters</h3>

<ul id="all_exceptions" class="filters">
  <li>
    <%= link( 'Latest Exceptions', url(:controller => 'logged_exceptions', :action => 'index', :id => nil) ) %>
  </li>
</ul>

<h4>Application</h4>

<ul id="app_names" class="filters">
<% @app_names.each do |name| -%>
  <li>
    <a href="javascript:ExceptionLogger.setFilter('app_names','<%= name %>')"><%= name %></a>
  </li>
<% end -%>
</ul>

<h4>Exception</h4>

<ul id="exception_names" class="filters">
<% @exception_names.each do |name| -%>
  <li>
    <a href="javascript:ExceptionLogger.setFilter('exception_names','<%= name %>')"><%= name %></a>
  </li>
<% end -%>
</ul>

<h4>Controller / Action</h4>

<ul id="controller_actions" class="filters">
<% @controller_actions.each do |action| -%>
  <li>
    <a href="javascript:ExceptionLogger.setFilter('controller_actions','<%= action %>')"><%= action %></a>
  </li>
<% end -%>
</ul>

<h4>Dates</h4>

<ul id="date_ranges" class="filters">
  <li><a title="1" onclick="ExceptionLogger.setFilter('date_ranges', 1)">Today</a></li>
  <li><a title="3" onclick="ExceptionLogger.setFilter('date_ranges', 3)">Last few days</a></li>
  <li><a title="7" onclick="ExceptionLogger.setFilter('date_ranges', 7)">Last 7 days</a></li>
  <li><a title="30" onclick="ExceptionLogger.setFilter('date_ranges', 30)">Last 30 days</a></li>
</ul>

<div id="search">
  <form id="query-form" action="/query.js">
    <div>
      <input type="text" name="query" value="" size="17" />
      <input type="submit" value="Find" />

      <input type="hidden" name="exception_names_filter" />
      <input type="hidden" name="app_names_filter" />
      <input type="hidden" name="date_ranges_filter" />
      <input type="hidden" name="controller_actions_filter" />
      <input type="hidden" name="page" value="<%= params[:page] %>" />
    </div>
  </form>
</div>

<% partial( :feed ) %>

</div> <!-- right -->

<div id="left">
  <div class="page" id="showpage" style="display:none; margin-bottom:1em;">
    
  </div>
  <div class="page">
    <%= partial( :exceptions ) %>
  </div>
</div>

  <div id="activity" style="display:none">Busy...</div>

</div> <!-- container -->
<xbr style="clear:both" />
</body>
</html>
